
@font-face {
    font-family: 'nissan';
    font-weight: normal;
    src: url('../fonts/Nissan-Brand-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'nissan';
    font-weight: bold;
    src: url('../fonts/Nissan-Brand-Bold.woff2') format('woff2');
}

/*@font-face {*/
/*    font-family: 'nissan';*/
/*    font-weight: 'italic' ;*/
/*    src: url('../fonts/Nissan-Brand-Italic.woff2') format('woff2');*/
/*}*/

/*@font-face {*/
/*    font-family: 'nissan';*/
/*    font-weight: light;*/
/*    src: url('../fonts/Nissan-Brand-Light.woff2') format('woff2');*/
/*}*/

/*@font-face {*/
/*    font-family: 'nissan';*/
/*    font-weight: boldItalic;*/
/*    src: url('../fonts/NissanBrand-BoldItalic.woff2') format('woff2');*/
/*}*/

@tailwind base;
@tailwind components;
@tailwind utilities;
